## gradle
/.gradle
/build
/eclipse

## ForgeGradle
/run*
/out

## idea
/.idea
*.iml
*.ipr
*.iws

## eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## netbeans
.nb*
/nbproject/private/
/nbbuild/
output/
gradlew
gradlew.bat
gradle/
install.bat
.cache
build.xml
natives/
nbproject/

## minecraft
/config/
/mods/
/saves/
/logs/
/crash-reports/
/screenshots/